.panelImage {
    -fx-background-color : #FFFFFF;
}
.registerNav{
    -fx-background-color : #ececec;
}
.image {
    -fx-background-radius: 100%;
    -fx-background-color: white;
    -fx-border-color: #ececec;
    -fx-border-width: 10px;
}

.image-container {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}
.quality-bar .combo-box {
    -fx-background-color: transparent;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.quality-bar .arrow-button {
    -fx-background-color: transparent;
    -fx-shape: "";
}

/* Style for the popup */
.quality-bar .list-view {
    -fx-background-color: #d3d3d3;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
}

.quality-bar .list-view .list-cell {
    -fx-padding: 5px 10px;
}

.quality-bar .combo-box .list-cell:selected {
    -fx-background-color: #f0f0f0;
}

.thanksNav{
    -fx-background-color:  #f7ffff;
}
.chart {
    -fx-background-color: transparent;
}
.data0.chart-pie { -fx-pie-color: #81689D; }
.data1.chart-pie { -fx-pie-color: #474F7A; }
.chart-pie-label{
    -fx-fill: white;
}
.default-color0.chart-bar { -fx-bar-fill: #81689D; }
.default-color1.chart-bar { -fx-bar-fill: #474F7A; }
.default-color2.chart-bar { -fx-bar-fill: #FFD0EC; }
.chart-bar-label{
    -fx-fill: white;
}
/*.axis{
    -fx-stroke: #fff;
    -fx-fill : #fff;
    -fx-tick-label-fill : #fff;
}*/
/* Checking Animated Button */
.animated-button {
    -fx-cursor: hand;
}
/* Login Button Hover Effect */
.loginBtn{
    -fx-background-color:  #474F7A;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.loginBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:   #474F7A;
    -fx-border-color:  #474F7A;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.cancelBtn{
     -fx-background-color: #C0392B;
     -fx-text-fill: #FFF;
     -fx-background-radius: 5px;
}
.cancelBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:  #C0392B;
    -fx-border-color:  #C0392B;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.logout{
    -fx-background-color: #C0392B;
     -fx-text-fill: #FFF;
     -fx-background-radius: 5px;
}
.logout:hover{
-fx-background-color:#FFFFFF;
    -fx-background-radius: 5px;
    -fx-text-fill:  #C0392B;
    -fx-border-color:  #C0392B;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.signupBtn{
     -fx-background-color: #FF8F00;
     -fx-text-fill: #FFF;
     -fx-background-radius: 5px;
}
.signupBtn:hover{
     -fx-background-color:transparent;
     -fx-background-radius: 5px;
     -fx-text-fill:  #FF8F00;
     -fx-border-color:  #FF8F00;
     -fx-border-width: 1px;
     -fx-border-style: solid;
     -fx-border-radius: 5px;
}
.registerBtn{
    -fx-background-color:  #1F2544;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.registerBtn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill:  #1F2544;
    -fx-border-color:  #1F2544;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.text-field {
    -fx-background-radius: 5px;
    -fx-border-color:   #281F5F;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.text-field:hover {
    -fx-background-color: #FFF
;
}

.text-field:focused {
    -fx-background-color: #FFF;
    -fx-border-color:  #281F5F;
}
.combo-box {
    -fx-background-color: transparent;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
    -fx-border-color:  #281F5F;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.combo-box:hover {
    -fx-background-color: transparent;
}

.combo-box:focused {
    -fx-background-color: transparent;
    -fx-border-color: #281F5F;
}
.dashboard-info-container{
    -fx-border-radius: 2px 2px 2px 2px;
    -fx-background-color: #FFF;
}
.dashboard-info-container:hover{
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
    -fx-border-color:  #fff;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
/* style.css */
.table-view {
    -fx-border-width: 1px;
    -fx-border-color: #81689D;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}

.table-view .column-header {
    -fx-border-radius: 10px;
    -fx-background-color :  #81689D;
    -fx-text-fill: #fff;
}
.table-view .column-header .label{
    -fx-text-fill : #fff;
    -fx-border-radius: 10px;
}
.table-cell {
    -fx-alignment: CENTER;
}
.text-field {
    -fx-alignment: center;
}.loginText-field {
      -fx-alignment: baseline-left;
  }

.dashboard-btn{
    -fx-background-color: #81689D;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
.dashboard-btn:hover{
    -fx-background-color:transparent;
    -fx-background-radius: 5px;
    -fx-text-fill: #81689D;
    -fx-border-color: #81689D;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.dashboard-btn:focused{
     -fx-background-color:transparent;
        -fx-background-radius: 5px;
        -fx-text-fill:    #281F5F;
        -fx-border-color:    #281F5F;
        -fx-border-width: 1px;
        -fx-border-style: solid;
        -fx-border-radius: 5px;
}
.BtnWhiteBGGreen{
    -fx-background-color:  #1F2544;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.BtnWhiteBGGreen:hover{
    -fx-background-color:#FFF;
    -fx-background-radius: 5px;
    -fx-text-fill:  #1F2544;
    -fx-border-color:  #1F2544;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.BtnWhiteBGRed{
    -fx-background-color:  #81689D;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.BtnWhiteBGRed:hover{
    -fx-background-color:#FFF;
    -fx-background-radius: 5px;
    -fx-text-fill:  #81689D;
    -fx-border-color:  #81689D;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.progress-bar {
    -fx-accent: green; /* Color of the progress */
}

.progress-bar .track {
    -fx-background-color: #FFD0EC; /* Color of the background track */
}

.progress-bar .bar {
    -fx-background-color: #81689D; /* Color of the progress bar */
}












